@model IEnumerable<PowerliftingResult>

@{
    ViewData["Title"] = "Recent Results";
}

<div class="text-left mb-4">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

@if (!Model.Any())
{
    <div class="alert alert-info text-center text-light bg-secondary">
        <strong>No results available.</strong>
    </div>
}
else
{
    <partial name="_SearchForm" model="@ViewData[" CurrentFilter"]" />

    <partial name="_ResultsTable" model="@Model" />
}
